<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hchbht.mapper.EquipmentMapper">

	<resultMap type="Equipment" id="EquipmentMap">
		<id column="id" property="id" />
		<result column="sort" property="sort" />
		<result column="esort" property="esort" />
		<result column="eid" property="eid" />
		<result column="name" property="name" />
		<result column="type" property="type" />
		<result column="lstate" property="lstate" />
		<result column="tstate" property="tstate" />
		<result column="status" property="status" />
		
		<result column="companyid" property="companyid" />
		<result column="companyname" property="companyname" />
	</resultMap>
	
	<!-- 根据条件查询，单一的数据 -->
	<select id="queryDataByCondition" parameterType="Equipment" resultMap="EquipmentMap">
		select e.*,c.id,c.name
		from tj_hchbdb_equipment e
		left join tj_hchbdb_companyInfo_equipment ce 
			on e.id = ce.equipmentid
		left join tj_hchbdb_companyInfo c
			on ce.companyid = c.id
		<where>
			1=1 and ce.status = 0 
			<if test="id != null and id != ''"> and e.id=#{id}</if>
			<if test="esort != null and esort != ''"> and e.esort=#{esort}</if>
			<if test="eid != null and eid != ''"> and e.eid like '%${eid}%'</if>
			<if test="name != null and name != ''"> and e.name like '%${name}%'</if>
			<if test="type != null"> and e.type=#{type}</if>
			<if test="lstate != null"> and e.lstate=#{lstate}</if>
			<if test="tstate != null"> and e.tstate=#{tstate}</if>
			<if test="status != null"> and e.status=#{status}</if>
		</where>
	</select>
	
	<!-- 根据条件查询，list数据 -->
	<select id="queryDataByConditions" parameterType="Equipment" resultMap="EquipmentMap">
		select e.*,c.id,c.name
		from tj_hchbdb_equipment e
		left join tj_hchbdb_companyInfo_equipment ce 
			on e.id = ce.equipmentid
		left join tj_hchbdb_companyInfo c
			on ce.companyid = c.id
		<where>
			1=1 and ce.status = 0 
			<if test="id != null and id != ''"> and e.id=#{id}</if>
			<if test="esort != null and esort != ''"> and e.esort=#{esort}</if>
			<if test="eid != null and eid != ''"> and e.eid like '%${eid}%'</if>
			<if test="name != null and name != ''"> and e.name like '%${name}%'</if>
			<if test="type != null"> and e.type=#{type}</if>
			<if test="lstate != null"> and e.lstate=#{lstate}</if>
			<if test="tstate != null"> and e.tstate=#{tstate}</if>
			<if test="status != null"> and e.status=#{status}</if>
		</where>
	</select>
	
	<!-- 数据总量 -->
	<select id="queryDataSize" parameterType="Equipment" resultType="java.lang.Integer">
		select count(*) 
		from (
			select e.id as id
			from tj_hchbdb_equipment e
			left join tj_hchbdb_companyInfo_equipment aue 
				on e.id = aue.equipmentid 
			left join tj_hchbdb_companyInfo u 
				on aue.companyid = u.id
			<where>
				1=1 and aue.status = 0
				<if test="id != null and id != ''"> and e.id=#{id}</if>
				<if test="esort != null and esort != ''"> and e.esort=#{esort}</if>
				<if test="eid != null and eid != ''"> and e.eid like '%${eid}%'</if>
				<if test="name != null and name != ''"> and e.name like '%${name}%'</if>
				<if test="type != null"> and e.type=#{type}</if>
				<if test="lstate != null"> and e.lstate=#{lstate}</if>
				<if test="tstate != null"> and e.tstate=#{tstate}</if>
				<if test="status != null"> and e.status=#{status}</if>
			</where>
		) m
	</select>
	
	<!-- 根据条件查询，list数据 ， 分页-->
	<select id="queryDataByConditionsPage" parameterType="Equipment" resultMap="EquipmentMap">
	select w1.*
	from (
		select e.*, u.id as companyid, u.name as companyname
		from tj_hchbdb_equipment e
		left join tj_hchbdb_companyInfo_equipment aue 
			on e.id = aue.equipmentid 
		left join tj_hchbdb_companyInfo u 
			on aue.companyid = u.id
		where aue.status = 0 
	) w1 
	left join (
		select m.id
		from ( 
			select *
			from tj_hchbdb_equipment 
			where
				1=1
				<if test="equipment.id != null and equipment.id != ''"> and id=#{equipment.id}</if>
				<if test="equipment.eid != null and equipment.eid != ''"> and eid like '%${equipment.eid}%'</if>
				<if test="equipment.name != null and equipment.name != ''"> and name like '%${equipment.name}%'</if>
				<if test="equipment.type != null"> and type=#{equipment.type}</if>
				<if test="equipment.lstate != null"> and lstate=#{equipment.lstate}</if>
				<if test="equipment.status != null"> and status=#{equipment.status}</if>
			)m 
		) w2 
	on w1.id = w2.id
	where 1=1
	</select>
</mapper>