<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hchbht.mapper.MenuMapper">
	
	<cache/>
	
	<resultMap type="Menu" id="MenuMap">
		<id column="id" property="id" />
		<result column="menuName" property="menuName" />
		<result column="menuUrl" property="menuUrl" />
		<result column="parentId" property="parentId" />
		<result column="icon" property="icon" />
		<result column="sort" property="sort" />
		<result column="lastOperatingTime" property="lastOperatingTime" />
		<result column="status" property="status" />
		<collection property="childs" javaType="ArrayList" column="id" ofType="Menu" select="queryChildMenu"/>
	</resultMap>
	
	<resultMap type="Menu" id="MenuMap2">
		<id column="id" property="id" />
		<result column="menuName" property="menuName" />
		<result column="menuUrl" property="menuUrl" />
		<result column="parentId" property="parentId" />
		<result column="icon" property="icon" />
		<result column="sort" property="sort" />
		<result column="lastOperatingTime" property="lastOperatingTime" />
		<result column="status" property="status" />
	</resultMap>

	<!-- 添加 -->
	<insert id="insertMenu" parameterType="Menu">
		insert into tj_hchbdb_menu(
			status
			<if test="id != null and id != ''">,id</if>
			<if test="menuName != null and menuName != ''">, menuName</if>
			<if test="menuUrl != null and menuUrl != ''">, menuUrl</if>
			<if test="parentId != null and parentId != ''">, parentId</if>
			<if test="icon != null and icon != ''">, icon</if>
			<if test="sort != null">, sort</if>
			<if test="lastOperatingTime != null and lastOperatingTime != ''">, lastOperatingTime</if>
		)values(
			1
			<if test="id != null and id != ''">,#{id}</if>
			<if test="menuName != null and menuName != ''">,#{menuName}</if>
			<if test="menuUrl != null and menuUrl != ''">,#{menuUrl}</if>
			<if test="parentId != null and parentId != ''">,#{parentId}</if>
			<if test="icon != null and icon != ''">,#{icon}</if>
			<if test="sort != null">,#{sort}</if>
			<if test="lastOperatingTime != null and lastOperatingTime != ''">,#{lastOperatingTime}</if>
		)
	</insert>
	
	<!-- 删除 -->
	<update id="deleteMenu" parameterType="string">
		update tj_hchbdb_menu set status = 0 where id=#{id}
	</update>
	
	<!-- 修改 -->
	<update id="updateMenu" parameterType="Menu">
		update 
			tj_hchbdb_menu 
		<set>
			<if test="menuName != null and menuName != ''">menuName=#{menuName}</if>
			<if test="menuUrl != null and menuUrl != ''">,menuUrl=#{menuUrl}</if>
			<if test="parentId != null and parentId != ''">,parentId=#{parentId}</if>
			<if test="icon != null and icon != ''">,icon=#{icon}</if>
			<if test="sort != null">,sort=#{sort}</if>
			<if test="lastOperatingTime != null and lastOperatingTime != ''">,lastOperatingTime=#{lastOperatingTime}</if>
		</set>
		where id=#{id}
	</update>

	<!-- 根据Id查询 -->
	<select id="selectMenuById" parameterType="string" resultMap="MenuMap">
		select * from tj_hchbdb_menu where id=#{id}
	</select>
	
	<select id="queryFatherMenu" resultMap="MenuMap">
		select * from tj_hchbdb_menu m where m.parentid is null and m.status = 1 order by m.sort asc
	</select>
	
	<select id="queryChildMenu" parameterType="string" resultMap="MenuMap">
		select * from tj_hchbdb_menu m where m.parentid = #{parentId} and m.status = 1 order by m.sort asc
	</select>
	
	<select id="queryAllMenuPage" resultMap="MenuMap2">
		select * from tj_hchbdb_menu where status = 1
	</select>
	
	<select id="queryAllMenu" resultMap="MenuMap2">
		select * from tj_hchbdb_menu m where m.status = 1 order by m.sort asc
	</select>
</mapper>