<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hchbht.mapper.WarnConditionVOCMapper">

	<resultMap type="WarnConditionVOC" id="WarnConditionVOCMap">
		<id column="id" property="id" />
		<result column="sort" property="sort" />
		<result column="equipmentid" property="equipmentid" />
		<result column="hydrocarbon" property="hydrocarbon" />
		<result column="rate" property="rate" />
		<result column="temperature" property="temperature" />
		<result column="pressure" property="pressure" />
		<result column="humidity" property="humidity" />
		<result column="wastegas" property="wastegas" />				
		<result column="status" property="status" />		
	</resultMap>
	
	<!-- 添加 -->
	<insert id="insert" parameterType="WarnConditionVOC">
		insert into tj_hchbdb_warnconditionvoc (
			status
			<if test="id != null and id != ''">,id</if>
			<if test="equipmentid != null and equipmentid != ''"> , equipmentid</if>
			<if test="hydrocarbon != null and hydrocarbon != ''">, hydrocarbon</if>
			<if test="rate != null and rate != ''">, rate</if>
			<if test="temperature != null and temperature != ''">, temperature</if>
			<if test="pressure != null and pressure != ''">, pressure</if>
			<if test="humidity != null and humidity != ''">, humidity</if>
			<if test="wastegas != null and wastegas != ''">, wastegas</if>
		)values(
			1
			<if test="id != null and id != ''">, #{id}</if>
			<if test="equipmentid != null and equipmentid != ''"> , #{equipmentid}</if>
			<if test="hydrocarbon != null and hydrocarbon != ''">, #{hydrocarbon}</if>
			<if test="rate != null and rate != ''">,#{rate}</if>
			<if test="temperature != null and temperature != ''">, #{temperature}</if>
			<if test="pressure != null and pressure != ''">, #{pressure}</if>
			<if test="humidity != null and humidity != ''">, #{humidity}</if>
			<if test="wastegas != null and wastegas != ''">, #{wastegas}</if>
		)
	</insert>
	
	<!-- 修改 -->
	<update id="update" parameterType="WarnConditionVOC">
		update 
			tj_hchbdb_warnconditionvoc
		<set>
			<if test="equipmentid != null and equipmentid != ''">equipmentid=#{equipmentid}, </if>
			<if test="hydrocarbon != null and hydrocarbon != ''">hydrocarbon=#{hydrocarbon}, </if>
			<if test="rate != null and rate != ''">rate=#{rate}, </if>
			<if test="temperature != null and temperature != ''">temperature=#{temperature}, </if>
			<if test="pressure != null and pressure != ''">pressure=#{pressure}, </if>
			<if test="humidity != null and humidity != ''">humidity=#{humidity}, </if>
			<if test="wastegas != null and wastegas != ''">wastegas=#{wastegas}, </if>
			<if test="status != null">status=#{status}</if>
		</set>
		where id=#{id}
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="string">
		delete from tj_hchbdb_warnconditionvoc where id=#{id}
	</delete>

	<!-- 根据条件查询，单一的数据 -->
	<select id="queryDataByCondition" parameterType="WarnConditionVOC" resultMap="WarnConditionVOCMap">
		select w.*, c.id as companyid, c.name as companyname
		from tj_hchbdb_warnconditionvoc w
		left join tj_hchbdb_equipment e
			on e.eid = w.equipmentid
		left join tj_hchbdb_companyInfo_equipment aue 
				on e.id = aue.equipmentid 
		left join tj_hchbdb_companyInfo c 
			on aue.companyid = c.id
		<where>
			1=1
			<if test="id != null and id != ''"> and w.id=#{id}</if>
			<if test="equipmentid != null and equipmentid != ''"> and w.equipmentid=#{equipmentid}</if>
			<if test="hydrocarbon != null and hydrocarbon != ''"> and w.hydrocarbon=#{hydrocarbon}</if>
			<if test="rate != null and rate != ''"> and w.rate = ${rate} </if>
			<if test="temperature != null and temperature != ''"> and w.temperature=#{temperature}</if>
			<if test="pressure != null and pressure != ''"> and w.pressure=#{pressure}</if>
			<if test="humidity != null and humidity != ''"> and w.humidity=#{humidity}</if>
			<if test="wastegas != null and wastegas != ''"> and w.wastegas=#{wastegas}</if>
			<if test="status != null"> and w.status=#{status}</if>
		</where>
	</select>
	
	<!-- 根据条件查询，list数据 -->
	<select id="queryDataByConditions" parameterType="WarnConditionVOC" resultMap="WarnConditionVOCMap">
		select w.*, c.id as companyid, c.name as companyname
		from tj_hchbdb_warnconditionvoc w
		left join tj_hchbdb_equipment e
			on e.eid = w.equipmentid
		left join tj_hchbdb_companyInfo_equipment aue 
				on e.id = aue.equipmentid 
		left join tj_hchbdb_companyInfo c 
			on aue.companyid = c.id
		<where>
			1=1
			<if test="companyname != null and companyname != ''"> c.name like '%${companyname}%'</if>
			<if test="id != null and id != ''"> and w.id=#{id}</if>
			<if test="equipmentid != null and equipmentid != ''"> and w.equipmentid=#{equipmentid}</if>
			<if test="hydrocarbon != null and hydrocarbon != ''"> and w.hydrocarbon=#{hydrocarbon}</if>
			<if test="rate != null and rate != ''"> and w.rate = ${rate} </if>
			<if test="temperature != null and temperature != ''"> and w.temperature=#{temperature}</if>
			<if test="pressure != null and pressure != ''"> and w.pressure=#{pressure}</if>
			<if test="humidity != null and humidity != ''"> and w.humidity=#{humidity}</if>
			<if test="wastegas != null and wastegas != ''"> and w.wastegas=#{wastegas}</if>
			<if test="status != null"> and w.status=#{status}</if>
		</where>
	</select>
	
	<!-- 数据长度 -->
	<select id="datasize" parameterType="WarnConditionVOC" resultType="java.lang.Integer">
		select count(w.id)
		from tj_hchbdb_warnconditionvoc w
		left join tj_hchbdb_equipment e
			on e.eid = w.equipmentid
		left join tj_hchbdb_companyInfo_equipment aue 
				on e.id = aue.equipmentid 
		left join tj_hchbdb_companyInfo c 
			on aue.companyid = c.id
		<where>
			1=1
			<if test="companyname != null and companyname != ''"> and c.name like '%${companyname}%'</if>
		</where>
	</select>
	
	<!-- 根据条件查询  Page 数据 -->
	<select id="queryDataByConditionsPage" resultMap="WarnConditionVOCMap">
	select w2.n, w1.* 
	from (
		select w.*, c.id as companyid, c.name as companyname
		from tj_hchbdb_warnconditionvoc w
		left join tj_hchbdb_equipment e
			on e.eid = w.equipmentid
		left join tj_hchbdb_companyInfo_equipment aue 
				on e.id = aue.equipmentid 
		left join tj_hchbdb_companyInfo c 
			on aue.companyid = c.id
		<if test="w.companyname != null and w.companyname != ''">
		where c.name like '%${w.companyname}%'
		</if>
	) w1, (
		select top ${endrow} row_number() over (order by m.sort desc) n, m.id	
		from ( 
			select *
			from tj_hchbdb_warnconditionvoc 
			where
				1=1
				<if test="w.id != null and w.id != ''"> and id=#{w.id}</if>
				<if test="w.equipmentid != null and w.equipmentid != ''"> and equipmentid=#{w.equipmentid}</if>
				<if test="w.hydrocarbon != null and w.hydrocarbon != ''"> and hydrocarbon=#{w.hydrocarbon}</if>
				<if test="w.rate != null and w.rate != ''"> and rate = ${w.rate} </if>
				<if test="w.temperature != null and w.temperature != ''"> and temperature=#{w.temperature}</if>
				<if test="w.pressure != null and w.pressure != ''"> and pressure=#{w.pressure}</if>
				<if test="w.humidity != null and w.humidity != ''"> and humidity=#{w.humidity}</if>
				<if test="w.wastegas != null and w.wastegas != ''"> and wastegas=#{w.wastegas}</if>
				<if test="w.status != null"> and status=#{w.status}</if>
			)m 
		) w2 
	where w1.id = w2.id and w2.n &gt; ${startrow} order by w2.n asc
	</select>
	
	<!-- 根据设备id查询相应的信息 -->
	<select id="queryDataByEid" parameterType="java.lang.String" resultMap="WarnConditionVOCMap">
		select * from tj_hchbdb_warnconditionvoc where equipmentid=#{w.equipmentid} and status = 1
	</select>
</mapper>